@charset "utf-8";

/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
    border: none;
}
i {
    padding: 12px 13px;
}
.fa-info {
    padding: 12px 17px;
}
.fa-thumbtack {
    padding: 12px 14px;
}
.hover {
    opacity: 0.3;
    transition: 500ms ease-in;
}
.wn_galleryTop {
    background-image: url("../images/unnamed.jpg");
}
#gallery {
    padding-bottom: 100px;
}
